<div class="card" style="width:400px">
    <img class="card-img-top" src="/Images/@Model.img" alt="Card image">
    <div class="card-body">
        <h4 class="card-title">@Model.name</h4>
        <p class="card-text">@Model.address</p>
        <a href="#" class="btn btn-primary">See Profile</a>
    </div>
</div>