@model Employee
@{
    ViewData["Title"] = "New";
    SelectList deptList = new SelectList(ViewBag.Department,"Id","Name");// cast from List<Department> to IEnum<selectedList>
}

<h1>New</h1>

<form asp-action="SaveEdit" asp-controller="Employee">
    <div>
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div>
        <label asp-for="Address">Address</label>
        <input asp-for="Address" class="form-control" />
    </div>
    <div>
        <label asp-for="Salary">Salary</label>
        <input asp-for="Salary" class="form-control" />
    </div>
    <div>
        <label asp-for="Image" >Image</label>
        <input asp-for="Image" type="file" class="form-control" />
    </div>
    <div>
        <label asp-for="Dep_id">Department</label>

        <select asp-for="Dep_id" asp-items="deptList" class="form form-control"></select>

       @*  <select value="Dep_id" id="Dep_id" class="form form-control">
            <option >
                @foreach(Department item in ViewBag.Department)
                {
                    if (@Model.Dep_id == item.Id)
                    {
                        
                        
                    }
                    else
                    {
                        
                    }
                }
            </option>
        </select> *@
    </div>
    <input type="submit" value="add" class="btn btn-success"/>
</form>